

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  font-size: 15px;
}


:root{
    --thene_clr:#D60033;
}
.theme_clr{
    color: var(--thene_clr);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0 !important;
}

.brand-link .brand-image{
  width: 40px !important;
  max-height:40px !important;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.form-control{
  resize: none;
}
.form-control:focus{
  box-shadow: none !important;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: none !important;
}
.nav-icon{
  font-size: 11px !important;
}
.form_clr .card-header{
  background-color: #343A40 !important;
  color: white;
}
.form_clr .card-header .card-title{
  font-size: 20px !important;

}
.form-control:focus{
  border-color: #343A40 !important;
}
.search_input{
  border-color: #343A40 !important;
}
.grid_table.card{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none;
  padding: 0;
}
.grid_table .card-body{
  padding: 0;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}
 
.table-hover>tbody>tr:hover {
  --bs-table-accent-bg: none;
  background-color: #d3d3d32b !important;
  color: var(--bs-table-hover-color);
}
.action_icon a{
  color: #343A40;
  margin-right: 20px;
}
 
.pagination a {
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  color: #343a4096; 
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
 
.pagination a.active {
  background-color: #343A40; /* Change this color as needed */
  color: white;  
}
